
  .flashcard{
    overflow: hidden;
    border-radius: 4px;
    background: #19202A;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 1rem;
    height: 40vh;
  }
  
  .flashcard__question,.flashcard__answer{
    color: #6E8098;
  }
  
  .flashcard__question{
    text-transform: uppercase;
    font-weight: 700;
  }
  .flashcard__answer::first-letter{
    text-transform: capitalize;
  }