 

/* utitlties */
 
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}

.background__navbar {
  background: #5964e0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  flex: 0.4;
  padding: 1rem;
}
.logo img{
  width: 60px;
  height: 60px;
}
.logo:hover{
  cursor: pointer;
}
.navbar-menu {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-menu > li {
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
}
