@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: rgba(25, 32, 45, 0.96);
  color: #6E8098;

  font-family: 'Roboto', sans-serif;
}

.container {
    width: 84%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

.m-heading {
  font-size: clamp(1.2rem,2vw,2rem);  

}
.s-heading {
 font-size: clamp(1.2rem,2vw,1.4rem);
}

.center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}