@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{
  background: rgba(25, 32, 45, 0.96);
  color: #6E8098;

  font-family: 'Roboto', sans-serif;
}

.container {
    width: 82%;
    margin: 1rem auto;
}
a{
    text-decoration: none;
}

